

<% if (mode.shortHeadDisplay){ %>
 <tr><td colspan="<%= elementType.small_header[0] %>" id="disp_lid"><%= info.lid %></td><td colspan="<%= elementType.small_header[1] %>"><%= info.lName %>|<%= info.model %>|<%= info.sn %></td><td colspan="<%= elementType.small_header[2] %>"><%= info.elementType %></td></tr>
<% } %>

