

<h3><%= info.elementType %></h3>
<table class="element">
<tr><td>lid</td><td id="disp_lid"><%= info.lid %></td><td>pid</td><td><%= info.pid %></td><td>lName</td><td id="disp_lName"><%= info.lName %></td><td>type<td><%= info.type %></td></tr>
<tr><td>elemenType</td><td><%= info.elementType %></td><td>position</td><td><%= info.position %></td><td>front_back</td><td><%= info.front_back %></td><td colspan=2></td></tr>
</table>
