
<% if (mode.HeadDisplay){ %>
<% include 01_standardBigHeader.ejs %>
<% } %>

<table class="rackDevice sockets" id="Ele-<%= info.lid %>">
<% if (mode.shortHeadDisplay){ %>
<% include 00_standardShortHeader.ejs %>
<% } %>

<tr>
<td>&nbsp;</td>
<td>1</td>
<td>2</td>
<td>3</td>
<td>4</td>
<td>5</td>
<td>6</td>
<td>7</td>
<td>8</td>
<td>9</td>
<td>10</td>
<td>11</td>
<td>12</td>
<td>13</td>
<td>14</td>
<td>15</td>
<td>16</td>
<td>17</td>
<td>18</td>
<td>19</td>
<td>20</td>
<td>21</td>
<td>22</td>
<td>23</td>
<td>24</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>&nbsp;</td>
<td class="<%= mode.additionalCSS %>"><%- socket.s1 %></td>
<td class="<%= mode.additionalCSS %>"><%- socket.s2 %></td>
<td class="<%= mode.additionalCSS %>"><%- socket.s3 %></td>
<td class="<%= mode.additionalCSS %>"><%- socket.s4 %></td>
<td class="<%= mode.additionalCSS %>"><%- socket.s5 %></td>
<td class="<%= mode.additionalCSS %>"><%- socket.s6 %></td>
<td class="<%= mode.additionalCSS %>"><%- socket.s7 %></td>
<td class="<%= mode.additionalCSS %>"><%- socket.s8 %></td>
<td class="<%= mode.additionalCSS %>"><%- socket.s9 %></td>
<td class="<%= mode.additionalCSS %>"><%- socket.s10 %></td>
<td class="<%= mode.additionalCSS %>"><%- socket.s11 %></td>
<td class="<%= mode.additionalCSS %>"><%- socket.s12 %></td>
<td class="<%= mode.additionalCSS %>"><%- socket.s13 %></td>
<td class="<%= mode.additionalCSS %>"><%- socket.s14 %></td>
<td class="<%= mode.additionalCSS %>"><%- socket.s15 %></td>
<td class="<%= mode.additionalCSS %>"><%- socket.s16 %></td>
<td class="<%= mode.additionalCSS %>"><%- socket.s17 %></td>
<td class="<%= mode.additionalCSS %>"><%- socket.s18 %></td>
<td class="<%= mode.additionalCSS %>"><%- socket.s19 %></td>
<td class="<%= mode.additionalCSS %>"><%- socket.s20 %></td>
<td class="<%= mode.additionalCSS %>"><%- socket.s21 %></td>
<td class="<%= mode.additionalCSS %>"><%- socket.s22 %></td>
<td class="<%= mode.additionalCSS %>"><%- socket.s23 %></td>
<td class="<%= mode.additionalCSS %>"><%- socket.s24 %></td>
<td>&nbsp;</td>
</tr>
<tr>
<td colspan="26">&nbsp;</td>
</tr>
</table>
