
<% if (mode.HeadDisplay){ %>
<% include 01_standardBigHeader.ejs %>
<% } %>

<table class="rackDevice sockets" id="Ele-<%= info.lid %>">
<% if (mode.shortHeadDisplay){ %>
<% include 00_standardShortHeader.ejs %>
<% } %>

<tr>
<td>&nbsp;</td>
<td>1</td>
<td>3</td>
<td>5</td>
<td>7</td>
<td>9</td>
<td>11</td>
<td>13</td>
<td>15</td>
<td>&nbsp;</td>
<td>17</td>
<td>19</td>
<td>21</td>
<td>23</td>
<td>25</td>
<td>27</td>
<td>29</td>
<td>31</td>
<td>&nbsp;</td>
<td>33</td>
<td>35</td>
<td>37</td>
<td>39</td>
<td>41</td>
<td>43</td>
<td>45</td>
<td>47</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>&nbsp;</td>
<td class="<% mode.additionalCSS %>"><%- socket.s1 %></td>
<td class="<% mode.additionalCSS %>"><%- socket.s3 %></td>
<td class="<% mode.additionalCSS %>"><%- socket.s5 %></td>
<td class="<% mode.additionalCSS %>"><%- socket.s7 %></td>
<td class="<% mode.additionalCSS %>"><%- socket.s9 %></td>
<td class="<% mode.additionalCSS %>"><%- socket.s11 %></td>
<td class="<% mode.additionalCSS %>"><%- socket.s13 %></td>
<td class="<% mode.additionalCSS %>"><%- socket.s15 %></td>
<td>&nbsp;</td>
<td class="<% mode.additionalCSS %>"><%- socket.s17 %></td>
<td class="<% mode.additionalCSS %>"><%- socket.s19 %></td>
<td class="<% mode.additionalCSS %>"><%- socket.s21 %></td>
<td class="<% mode.additionalCSS %>"><%- socket.s23 %></td>
<td class="<% mode.additionalCSS %>"><%- socket.s25 %></td>
<td class="<% mode.additionalCSS %>"><%- socket.s27 %></td>
<td class="<% mode.additionalCSS %>"><%- socket.s29 %></td>
<td class="<% mode.additionalCSS %>"><%- socket.s31 %></td>
<td>&nbsp;</td>
<td class="<% mode.additionalCSS %>"><%- socket.s33 %></td>
<td class="<% mode.additionalCSS %>"><%- socket.s35 %></td>
<td class="<% mode.additionalCSS %>"><%- socket.s37 %></td>
<td class="<% mode.additionalCSS %>"><%- socket.s39 %></td>
<td class="<% mode.additionalCSS %>"><%- socket.s41 %></td>
<td class="<% mode.additionalCSS %>"><%- socket.s43 %></td>
<td class="<% mode.additionalCSS %>"><%- socket.s45 %></td>
<td class="<% mode.additionalCSS %>"><%- socket.s47 %></td>
<td>&nbsp;</td>
</tr>
<tr>
<td>&nbsp;</td>
<td class="<% mode.additionalCSS %>"><%- socket.s2 %></td>
<td class="<% mode.additionalCSS %>"><%- socket.s4 %></td>
<td class="<% mode.additionalCSS %>"><%- socket.s6 %></td>
<td class="<% mode.additionalCSS %>"><%- socket.s8 %></td>
<td class="<% mode.additionalCSS %>"><%- socket.s10 %></td>
<td class="<% mode.additionalCSS %>"><%- socket.s12 %></td>
<td class="<% mode.additionalCSS %>"><%- socket.s14 %></td>
<td class="<% mode.additionalCSS %>"><%- socket.s16 %></td>
<td>&nbsp;</td>
<td class="<% mode.additionalCSS %>"><%- socket.s18 %></td>
<td class="<% mode.additionalCSS %>"><%- socket.s20 %></td>
<td class="<% mode.additionalCSS %>"><%- socket.s22 %></td>
<td class="<% mode.additionalCSS %>"><%- socket.s24 %></td>
<td class="<% mode.additionalCSS %>"><%- socket.s26 %></td>
<td class="<% mode.additionalCSS %>"><%- socket.s28 %></td>
<td class="<% mode.additionalCSS %>"><%- socket.s30 %></td>
<td class="<% mode.additionalCSS %>"><%- socket.s32 %></td>
<td>&nbsp;</td>
<td class="<% mode.additionalCSS %>"><%- socket.s34 %></td>
<td class="<% mode.additionalCSS %>"><%- socket.s36 %></td>
<td class="<% mode.additionalCSS %>"><%- socket.s38 %></td>
<td class="<% mode.additionalCSS %>"><%- socket.s40 %></td>
<td class="<% mode.additionalCSS %>"><%- socket.s42 %></td>
<td class="<% mode.additionalCSS %>"><%- socket.s44 %></td>
<td class="<% mode.additionalCSS %>"><%- socket.s46 %></td>
<td class="<% mode.additionalCSS %>"><%- socket.s48 %></td>
<td>&nbsp;</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>2</td>
<td>4</td>
<td>6</td>
<td>8</td>
<td>10</td>
<td>12</td>
<td>14</td>
<td>16</td>
<td>&nbsp;</td>
<td>18</td>
<td>20</td>
<td>22</td>
<td>24</td>
<td>26</td>
<td>28</td>
<td>30</td>
<td>32</td>
<td>&nbsp;</td>
<td>34</td>
<td>36</td>
<td>38</td>
<td>40</td>
<td>42</td>
<td>44</td>
<td>46</td>
<td>48</td>
<td>&nbsp;</td>
</tr>
</table>

