

<div id="header">
	<h1><%= config.appname %>&nbsp;&nbsp;<%= config.version %></h1>
</div>
<div id="object-view">
	<div><%= config.appname %>&nbsp;<%= config.version %></div>
	<div>port: <%= config.port %></div>
	<div>color: <%= config.patchColor %> </div>
</div>

<% colors = config.patchColor %>
<% ptype = config.rjType %>